jupyter==1.0.0
pandas==1.4.2
prettytable==3.2.0
dbt-core==1.0.0 
dbt-spark[PyHive]==1.0.0 
dbt-trino==1.0.0 
dbt-postgres==1.0.0
pyspark==3.2.1
dagit 
dagster 
dagster-gcp 
dagster-dbt
dagster-pyspark
dagster-spark
awscliv2
markupsafe==2.0.1
trino
requests==2.28.0
kaggle==1.5.12
yfinance